.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: all .3s ease;

    .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 15px 0;


        .burger {
            display: none;
        }

        .main {
            display: flex;
            justify-content: center;
            padding: 0;
            min-height: 50px;

            .list {
                display: flex;
                align-items: center;
                justify-content: center;

                .item {
                    margin: 0 20px;
                    a {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 140%;
                        color: #fff;
                        transition: all .3s ease;

                        &:hover {
                            color: var(--aqua);
                        }
                    }
                }
            }
        }

        .action {
            position: absolute;
            top: calc(50% - 20px);
            right: 0;
            display: flex;
            align-items: center;
            height: 40px;


            .lang {
                display: flex;
                align-items: center;
                margin-right: 10px;

                .item {
                    color: #fff;
                    text-transform: uppercase;
                    margin: 0 10px;
                    cursor: pointer;
                    transition: all .3s ease;

                    &:hover {
                        color: var(--aqua);
                    }
                }

                .item.active {
                    color: var(--aqua);
                }
            }
        }
    }
}

.header.active {
    //background-color: var(--bg);
    backdrop-filter: blur(10px);
    // filter: blur(10px);
}

@media (max-width: 1200px) {

    .header {

        .inner {
            justify-content: space-between;

            .sidebar_bg {
                position: fixed;
                top: 0;
                left: 0;
                background-color: #fff;
                width: 100%;
            }

            .burger.active {

                span {
                    // background-color: #1a1a1a;
                    &:nth-child(1) {
                        top: calc(50% - 2px);
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {display: none;}
                    &:nth-child(3) {
                        bottom: calc(50% - 2px);
                        transform: rotate(-45deg);
                    }
                }
            }

            .burger {
                display: block;
                width: 50px;
                height: 30px;
                position: relative;
                z-index: 10000;

                span {
                    position: absolute;
                    height: 4px;
                    background-color: #fff;
                    border-radius: 20px;
                    width: 100%;
                    transition: all .1s ease;

                    &:nth-child(1) {
                        top: 0;
                        left: 0;
                    }

                    &:nth-child(2) {
                        top: calc(50% - 2px);
                        left: 0;
                    }

                    &:nth-child(3) {
                        bottom: 0;
                        left: 0;
                    }
                }
            }

            .main {
                display: none;
            }

            .action {
                position: relative;
           
            }
        }
    }
}
