.wrapper {

    .inner {
        padding: 50px 0;

        .head {
            margin-bottom: 70px;
        }

        .chart {
            background: #1A1B23;
            box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.18);
            border-radius: 30px;
            padding: 60px 0 40px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            .el {
                position: relative;
                width: 371px;
                height: 371px;
                display: flex;
                align-items: center;
                justify-content: center;


                .item {
                    position: absolute;
                    filter: drop-shadow(0 0 10px var(--aqua));
                    font-weight: 300;
                    transition: all .3s ease;
                    opacity: 0;
                }


                .item.active {
                    opacity: 1;
                }

                .item1 {
                    top: 0;
                    left: -30%;

                    // &:after {
                    //     position: absolute;
                    //     bottom: 0;
                    //     right: 0;

                    // }
                }
                .item2 {
                    top: 0%;
                    right: -30%;
                }
                .item3 {
                    top: 40%;
                    right: -50%;
                }
                .item4 {
                    top: 65%;
                    right: -50%;
                }
                .item5 {
                    top: 80%;
                    right: -30%;
                }
                .item6 {
                    bottom: -5%;
                }

                .item7 {
                    left: -45%;
                    bottom: 20%;
                }


                .label {
                    position: absolute;
                    height: 45px;
                    width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 500;
                    line-height: 44px;
                    font-size: 44px;
                    top: calc(50% - 45px);
                    left: calc(50% - (100px / 2));
                }


                g {
                    cursor: pointer;
                }
            }
        }

        .body {
            padding: 30px;
            background: #1A1B23;
            border-radius: 25px;
            .table {
                width: 100%;

                tr {

                    th {
                        padding: 30px;
                        font-size: 20px;
                        line-height: 150%;
                        font-weight: 400;
                        color: rgba(255, 255, 255, 0.5);
                        text-align: left;

                        &:first-child {
                            padding-left: 0;
                        }

                        &:last-child {
                            padding-right: 0;
                        }
                    }

                    td {
                        padding: 30px;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 150%;
                        border-top: 1px solid #2B2C3B;

                        .name {
                            display: none;
                        }
                        &:first-child {
                            padding-left: 0;
                        }

                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper {

        .inner {
            .body {
                padding-top: 0;
                padding-bottom: 0;

                .table {
                    tr {
                        th {
                            display: none;
                        }
                    }
                    tr {
                        display: block;
                        td {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            padding: 15px 0 !important;
                            border: none; 
                            font-size: 16px;
                            line-height: 19px;
                            &:last-child {
                                border-bottom: 1px solid #2B2C3B;
                            }
                            .name {
                                width: 48%;
                                padding-right: 10px;
                                display: block;
                                opacity: .7;
                                font-weight: 400;

                            }
                        }
                    }
                }
            }
        }
    }
}