.wrapper {

    .inner {
        padding: 50px 0;

        .head {
            margin-bottom: 70px;
        }

        .chart {
            background: #1A1B23;
            box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.18);
            border-radius: 30px;
            padding: 60px 0 40px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            .label {
                display: none;
            }

            .el {
                position: relative;
                width: 371px;
                height: 371px;
                display: flex;
                align-items: center;
                justify-content: center;


                .item {
                    position: absolute;
                    filter: drop-shadow(0 0 10px var(--aqua));
                    font-weight: 300;
                    transition: all .3s ease;
                    opacity: 0;
                }


                .item.active {
                    opacity: 1;
                }

                .item1 {
                    top: 5%;
                    left: -50%;

                    // &:after {
                    //     position: absolute;
                    //     bottom: 0;
                    //     right: 0;

                    // }

                    &:after {
                        position: absolute;
                        bottom: 0;
                        right: -80%;
                        width: 130px;
                        height: 20px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-image: url('../../public/images/chart-1.svg');
                        content: '';
                    }
                }
                .item2 {
                    top: 0%;
                    right: -61%;

                    &:after {
                        position: absolute;
                        top : 12px;
                        left: -110%;
                        width: 150px;
                        height: 55px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-image: url('../../public/images/chart-2.svg');
                        content: '';
                    }
                }
                .item3 {
                    top: 43%;
                    right: -45%;

                    &:after {
                        position: absolute;
                        top : 5px;
                        left: -110%;
                        width: 110px;
                        height: 20px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-image: url('../../public/images/chart-3.svg');
                        content: '';
                    }
                }
                .item4 {
                    top: 60%;
                    right: -80%;
                    max-width: 200px;
                    width: 100%;

                    &:after {
                        position: absolute;
                        top : -10%;
                        left: -70%;
                        width: 140px;
                        height: 50px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-image: url('../../public/images/chart-4.svg');
                        content: '';
                    }
                }
                .item5 {
                    top: 75%;
                    right: -60%;
                    max-width: 200px;
                    width: 100%;

                    &:after {
                        position: absolute;
                        top : 0%;
                        left: -60%;
                        width: 130px;
                        height: 40px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-image: url('../../public/images/chart-5.svg');
                        content: '';
                    }
                }
                .item6 {
                    bottom: 0%;
                    left: -10%;

                    &:after {
                        position: absolute;
                        top : -100%;
                        right: -110%;
                        width: 140px;
                        height: 50px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-image: url('../../public/images/chart-6.svg');
                        content: '';
                    }
                }

                .item7 {
                    left: -75%;
                    bottom: 20%;
                    max-width: 200px;
                    width: 100%;

                    &:after {
                        position: absolute;
                        top : -50%;
                        right: -60%;
                        width: 150px;
                        height: 50px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: contain;
                        background-image: url('../../public/images/chart-7.svg');
                        content: '';
                    }
                }


                .label {
                    position: absolute;
                    height: 45px;
                    width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 500;
                    line-height: 44px;
                    font-size: 44px;
                    top: calc(50% - 45px);
                    left: calc(50% - (100px / 2));
                }


                g {
                    cursor: pointer;
                }
            }
        }

        .body {
            padding: 30px;
            background: #1A1B23;
            border-radius: 25px;
            .table {
                width: 100%;

                tr {

                    th {
                        padding: 30px;
                        font-size: 20px;
                        line-height: 150%;
                        font-weight: 400;
                        color: rgba(255, 255, 255, 0.5);
                        text-align: left;

                        &:first-child {
                            padding-left: 0;
                        }

                        &:last-child {
                            padding-right: 0;
                        }
                    }

                    td {
                        padding: 30px;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 150%;
                        border-top: 1px solid #2B2C3B;

                        .name {
                            display: none;
                        }
                        &:first-child {
                            padding-left: 0;
                        }

                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .wrapper {

        .inner {
            .chart {
                display: flex;
                flex-direction: column;
                .label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    filter: drop-shadow(0 0 10px var(--aqua));
                    font-weight: 300;
                    text-align: center;
                    flex-direction: column;
                    font-size: 20px;
                    line-height: 30px;
                    span {
                        display: block;
                        font-size: 30px;
                        font-weight: 700;
                        line-height: 40px;
                    }
                }

                .el {

                    .item {
                        display: none;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .wrapper {

        .inner {
            .body {
                padding-top: 0;
                padding-bottom: 0;

                .table {
                    tr {
                        th {
                            display: none;
                        }
                    }
                    tr {
                        display: block;
                        td {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            padding: 15px 0 !important;
                            border: none; 
                            font-size: 16px;
                            line-height: 19px;
                            &:last-child {
                                border-bottom: 1px solid #2B2C3B;
                            }
                            .name {
                                width: 48%;
                                padding-right: 10px;
                                display: block;
                                opacity: .7;
                                font-weight: 400;

                            }
                        }
                    }
                }
            }
        }
    }
}