.wrapper {
    background-image: url('../../public/images/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;


    
    .line_1 {
        position: absolute;
        top: 20%;
        right: 0;
        // width: 100%;
        // height: 100%;
    }

    .line_2 {
        position: absolute;
        top: 0;
        right: -10%;
    }

    .line_3 {
        position: absolute;
        top: -20%;
        right: -20%;
    }

    .inner {
        display: flex;
        align-items: center;
        padding: 180px 0 100px 0;
        position: relative;
        z-index: 2;

        .content {
            width: 50%;

            .head {
                font-size: 60px;
                line-height: 84px;
                font-weight: 300;
                margin-bottom: 15px;
                
                span {

                }
            }

            .text {
                // font-size: 20px;
                // line-height: 140%;
                letter-spacing: -0.3px;
                color: rgba(255, 255, 255, 0.54);
                margin-bottom: 35px;
                b {
                    color: #fff;
                }
            }

            .action {
                margin-bottom: 35px;
            }

            .links {
                display: flex;
                align-items: center;
                margin-left: -4px;
                margin-right: -4px;

                .item {
                    margin: 0 4px;
                    width: 198px;
                    height: 60px;
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            display: flex;
                        }
                    }

                    
                }
            }
        }   

        .img {
            width: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

@media (max-width: 1200px) {
    .wrapper {

        .inner {
            flex-wrap: wrap;

            .content {
                width: 100%;
                margin-bottom: 30px;

                .head {
                    font-size: 45px;
                    line-height: 55px;
                }
            }

            .img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper {

        .inner {
            padding-top: 100px;
            .content {
                .head {
                    font-size: 30px;
                    line-height: 40px;
                }

                .links {

                    flex-wrap: wrap;

                    .item {
                        width: 100%;
                        margin-bottom: 20px;
                        
                    }
                }

                .action {

                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
}